@media(max-width: 768px){
    .slider_image-block {
        margin-bottom: 0px;
    }
    .slider_image-block {
        height: 411px;
        width: 451px;
    }
    .slider_background {
        width: 753px;
        /* height: 324px; */
        height: 260px;
        right: -16px;
    }
    .slider .slick-slide {
        display: flex;
        align-items: center;
    }
    .slider .slick-slide img {
        height: 411px;
        width: 451px;
    }
    .slider_image-block {
        margin-right: 290px;
        padding: 0;
    }
    .slider_title-block-phone {
        margin-bottom: 100px;
    }
    .slider_title-block {
        position: absolute;
        left: 0;
        bottom: 54px;
        max-width: unset;
    }
    .slider_section {
        height: 625px;
    }
    .slider_image-block {
        /* top: unset; */
        right: unset;
        bottom: 132px;
        left: 36px;
        z-index: -1;
    }
    .phone-wrapper {
		width: 90%;
		margin: 0 auto;
	}
    .slick-initialized .slick-slide.slider-item {
		display: flex;
		/* justify-content: center; */
		/* width: 580px !important; */
		align-items: unset;
		height: 620px;
		flex-direction: column;
	}
	.slider_title h1 {
		font-size: 45px;
	}
	.slider_title p {
		width: unset;
	}
	.slider_image-block img {
		width: 451px;
		height: 411px;
	}
    .subscribe_section {
        background-color: #F5F5F5;
    }
    .subscribe_subtitle {
        width: 367px;
    }
    .subscribe_form { {
        
    }
}